.htaccess
app/cache/*
app/database/*
files/
app/config/config_local.yml
thumbs/
composer.phar
.DS_Store
._.DS_Store
.idea
__*
.__*
scrutinizer.phar
php-cs-fixer.phar
*.sublime-*
.*.swp
/tags
.swp
*.lock
composer.lock
tests/_log
tests/*/*Guy.php
.buildpath
.project

theme/itgwo-2014/assets/bower_components
theme/itgwo-2014/assets/node-modules
dev
direct
logboek
*Hoogenhoff*



